.cardHeaderLogin {
    border-bottom: 1px solid #cfcfcc;
    margin-bottom: 10px;
    background-color: #084fa0;
    padding: 8px;
}

.cardLogin {
    margin-top: 25px;
}

.span-login-button {
    color: white !important;
    text-transform: initial;
}